include install.sh
include README.md CHANGELOG.md .gitattributes .gitignore
recursive-include src *.py *.sh *.conf
recursive-include docs *.md *.json
recursive-include examples POSCAR *.md
recursive-include tests *.py *.sh *.dat KLABELS
prune 软著申请归档_2026-09-16
global-exclude *.pyc
global-exclude __pycache__
